#board {
    width: 400px;
    height: 400px;
    display: flex;     /* enable flex layout */
    flex-wrap: wrap;   /* allow items to wrap */
}

.square {
    height: 50px;
    width: 50px;
    position: relative;
}

.square svg {
    position: relative;
    margin: 3px;
    z-index: -9;
}

path {
    position: relative;
}

.piece {
    position: relative;
    z-index: 9; /* Ensures your interacting with piece when dragging over*/
}



.dark {
    background-color: #6B4A2D;
}

.light {
    background-color: #E6D3A3;
}

.white {
    fill: rgb(255, 255, 255); /* svg works with fill */
}

.black {
    fill: rgb(0, 0, 0);
}